<h1>{{org.org_name}}'s Backpack Drive Dashboard</h1>

<h4>{{org.org_name}} Pledgers</h4>
  <div>
  {{#each org.users}}
  <div class="dashboard-donor-info">
  <a href="/org/{{../org.id}}/users/{{this.id}}/backpacks">{{this.first_name}} {{this.last_name}}</a>
  </div>

  {{/each}}
  </div>

{{org.users}}

<h4>Backpacks</h4>
  <div>
  {{#each org.users}}
  <div class="dashboard-backpack-info">
  <li>{{this.backpacks}}
  </div>

  {{/each}}
  </div>


  <div class="dashboard-shopping-list">

  </div>
