<div class="signup-lander-container">

<h1>{{org.org_name}}'s Backpack Drive Dashboard</h1>
<h4>{{org.org_name}} Pledgers</h4>

<table class='table list-of-donors'>
  <thead>
  <tr>
    <th>NAME</th>
    <th>EMAIL ADDRESS</th>
    <th># BACKPACKS CREATED</th>
  </tr>
  </thead>
  <tbody>
  {{#each org.users}}
    <td><a href="/org/{{../org.id}}/users/{{this.id}}/backpacks">{{this.first_name}} {{this.last_name}}</a></td>
    <td class='email-address'>{{this.email}}</td>
    <td>{{this.backpacks.length}}</td>
  </tr>
  {{/each}}
  </tbody>
</table>

<h4>Invite participants</h4>
Invite members of your organization, friends, and family to participate your backpack drive!
<div>
  <a href='https://www.facebook.com/sharer/sharer.php?u=https%3A//sleepy-headland-48709.herokuapp.com/org/{{org.id}}' target=_blank>Share on Facebook</a>
</div>





<h4>Backpack Summary</h4>

<table class='table'>
  <thead>
  <tr>
    <th class='backpack-name'>BACKPACK NAME</th>
    <th>COLOR</th>
    <th>PENCILS</th>
    <th>FOLDERS</th>
    <th>NOTEBOOKS</th>
    <th>SCISSORS</th>
    <th>ERASERS</th>
    <th>COLORED PENCILS</th>
    <th>MARKERS</th>
    <th>GLUE STICKS</th>
    <th>MESSAGE TO RECIPIENT</th>
  </tr>
  </thead>
  <tbody>
  {{#each org.users}}
  {{#each backpacks}}
    <td class='backpack-name'>{{this.backpack_name}}</td>
    <td>{{this.backpack_color}}</td>
    <td>{{this.pencils}}</td>
    <td>{{this.folders}}</td>
    <td>{{this.notebooks}}</td>
    <td>{{this.scissors}}</td>
    <td>{{this.erasers}}</td>
    <td>{{this.colored_pencils}}</td>
    <td>{{this.markers}}</td>
    <td>{{this.glue_sticks}}</td>
    <td>{{this.recipient_note}}</td>
  </tr>
    {{/each}}
  {{/each}}
  </tbody>
</table>

    <div>
  {{#each org.backpacks}}
  <div class="dashboard-backpack-info">
  <li>{{this}}</li>
  </div>
  {{/each}}
  </div>


  <div class="dashboard-shopping-list">

  </div>
  </div>
