<h1>{{user.first_name}}'s Backpacks</h1>
  <div>
  {{#each backpacks}}
    <div><a href="/org/{{../orgId}}/users/{{../user.id}}/backpacks/{{this.id}}">{{this.backpack_name}}</a></div>
    <div>Backpack Color:{{this.backpack_color}}</div>
  {{/each}}
  </div>

<a href="/org/{{orgId}}/users/{{user.id}}/backpacks/new" class="btn btn-default">Build a New Backpack</a>

