<div class='signup-lander-container'>
  <div class='org-name-dashboard'>{{org.org_name}}</div>
  <div class='backpack-section-header'>{{user.first_name}}'s Backpacks</div>
  <a href="/org/{{orgId}}/users/{{user.id}}/backpacks/new" class="build-new-backpack-btn btn btn-default submit-btn">Build a New Backpack</a>
    <div class='card-container'>
    {{#each backpacks}}
      <div class='backpack-card'>
        <div><a href="/org/{{../orgId}}/users/{{../user.id}}/backpacks/{{this.id}}">{{this.backpack_name}}</a></div>
        <div class='backpack-color'>Backpack Color: {{this.backpack_color}}</div>
      </div>
    {{/each}}
    </div>
</div>
