<div class='signup-lander-container'>
  <div class='org-intro'>
    <div class='back-to-list'><a href="/org/{{orgId}}/users/{{userId}}/backpacks" class="btn btn-default back-to-list-button">BACK TO LIST</a></div>
    <div class='org-name'>{{backpack.backpack_name}}</div>
  </div>
  <div class='main-backpack-container'>
  <div class='show-container'>
    <div class='color-message-buttons'>
        <div class='backpack-color-show'><span class='backpack-color-label'>Backpack Color:</span> {{backpack.backpack_color}}</div>
        <div class='button-section'>
        <div>
          <a href="/org/{{orgId}}/users/{{userId}}/backpacks/{{backpack.id}}/edit" class="btn btn-primary edit-button">Edit Backpack</a>
        </div>
        <form action="/org/{{orgId}}/users/{{userId}}/backpacks/{{backpack.id}}?_method=DELETE" method="POST">
          <input type="submit" value="Delete Backpack" class="btn btn-danger delete-b" />
        </form>
        </div>
      </div>
    <div class='contents'>
      <div class='org-name-header'>Contents</div>
        <div class='list-of-contents'>
            <div>Pencils: {{backpack.pencils}}</div>
            <div>Folders: {{backpack.folders}}</div>
            <div>Notebooks: {{backpack.notebooks}}</div>
            <div>Scissors: {{backpack.scissors}}</div>
            <div>Erasers: {{backpack.erasers}}</div>
            <div>Colored Pencils: {{backpack.colored_pencils}}</div>
            <div>Markers: {{backpack.markers}}</div>
            <div>Glue Sticks: {{backpack.glue_sticks}}</div>
        </div>
        <hr>
        <div class='org-name-header'>Message to Recipient</div>
          <div class='message-section'>
          {{backpack.recipient_note}}
          </div>
    </div>

  </div>
</div>
</div>
<form action="/sessions?_method=DELETE" method="POST">
    <div class='logout-section'>
      <input type="submit" value="Log Out" class="btn btn-default back-to-list-button">
    </div>
</form>

