<h1>{{backpack.backpack_name}}</h1>
  <li>Pencils: {{backpack.pencils}}</li>
  <li>Folders: {{backpack.folders}}</li>
  <li>Notebooks: {{backpack.notebooks}}</li>
  <li>Scissors: {{backpack.scissors}}</li>
  <li>Erasers: {{backpack.erasers}}</li>
  <li>Colored Pencils: {{backpack.colored_pencils}}</li>
  <li>Markers: {{backpack.markers}}</li>
  <li>Glue Sticks:{{backpack.glue_sticks}}</li>
  <li>Backpack Color:{{backpack.backpack_color}}</li>
  <li>Recipient Note: {{backpack.recipient_note}}</li>

<a href="/backpacks" class="btn btn-default">Main Page</a>
