<h1> {{org.org_name}} </h1>
<div class="org-description">{{org.description}}</div>
<ul>
  <li>Location: {{org.location}}</li>
  <li>Organization Type: {{org.org_type}}</li>
</ul>

<h3>Want to build a backpack for {{org.org_name}}?</h3>
<a href="/"><button>Get Started</button></a>
