<div class='signup-lander-container'>
<div class='org-intro'>
  <div class='org-name-header'>
  YOUR ORGANIZATION
  </div>
  <div class='org-name'>
    {{org.org_name}}
  </div>
  <div class='org-description'>{{org.description}}
  </div>
    <div><strong>Location:</strong> {{org.location}}  |  <strong>Organization Type:</strong> {{org.org_type}}</div>
</div>
  <div class='create-acct-header'>Create an account to build a backpack for {{org.org_name}}:</h3>
    <form class='signup-form' action="/org/{{org.id}}/users/" method="post">
      <div class='org-id-field'>
        <label for="org">Organization ID</label>
        <input type="text" name="org" value="{{org.id}}" readonly="readonly">
      </div>

      <div>
        <label for="first_name">First Name</label>
        <input type="text" name="first_name" required>
      </div>
      <div>
        <label for="last_name">Last Name</label>
        <input type="text" name="last_name" required>
      </div>

      <div>
        <label for="email">Email Address</label>
        <input type="text" name="email" required>
      </div>

      <div>
        <label for="street">Mailing Address</label>
        <input type="text" name="street">
      </div>

      <div>
        <label for="city">City</label>
        <input type="text" name="city">
      </div>
      <div>
        <label for="state">State</label>
        <select id="state" name="state"><option value="---">---</option><option value="Alabama">Alabama</option><option value="Alaska">Alaska</option><option value="Arizona">Arizona</option><option value="Arkansas">Arkansas</option><option value="California">California</option><option value="Colorado">Colorado</option><option value="Connecticut">Connecticut</option><option value="Delaware">Delaware</option><option value="District of Columbia">District of Columbia</option><option value="Florida">Florida</option><option value="Georgia">Georgia</option><option value="Guam">Guam</option><option value="Hawaii">Hawaii</option><option value="Idaho">Idaho</option><option value="Illinois">Illinois</option><option value="Indiana">Indiana</option><option value="Iowa">Iowa</option><option value="Kansas">Kansas</option><option value="Kentucky">Kentucky</option><option value="Louisiana">Louisiana</option><option value="Maine">Maine</option><option value="Maryland">Maryland</option><option value="Massachusetts">Massachusetts</option><option value="Michigan">Michigan</option><option value="Minnesota">Minnesota</option><option value="Mississippi">Mississippi</option><option value="Missouri">Missouri</option><option value="Montana">Montana</option><option value="Nebraska">Nebraska</option><option value="Nevada">Nevada</option><option value="New Hampshire">New Hampshire</option><option value="New Jersey">New Jersey</option><option value="New Mexico">New Mexico</option><option value="New York">New York</option><option value="North Carolina">North Carolina</option><option value="North Dakota">North Dakota</option><option value="Northern Marianas Islands">Northern Marianas Islands</option><option value="Ohio">Ohio</option><option value="Oklahoma">Oklahoma</option><option value="Oregon">Oregon</option><option value="Pennsylvania">Pennsylvania</option><option value="Puerto Rico">Puerto Rico</option><option value="Rhode Island">Rhode Island</option><option value="South Carolina">South Carolina</option><option value="South Dakota">South Dakota</option><option value="Tennessee">Tennessee</option><option value="Texas">Texas</option><option value="Utah">Utah</option><option value="Vermont">Vermont</option><option value="Virginia">Virginia</option><option value="Virgin Islands">Virgin Islands</option><option value="Washington">Washington</option><option value="West Virginia">West Virginia</option><option value="Wisconsin">Wisconsin</option><option value="Wyoming">Wyoming</option></select>
      </div>

      <div>
        <label for="zip_code">Zip Code</label>
        <input type="text" name="zip_code">
      </div>

      <div>
        <label for="password">Password</label>
        <input type="password" name="password" required>
      </div>

      <input class='submit-btn' type="submit" value="Submit">
    </form>
  </div>
